<%- include("../partials/header") %>
 <div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1>My Visited Roller Coasters</h1>
             <p>So Much Fun! So Many Memoeries...</p>
         </div>
     </header>
	<div class="row text-center" style="display:flex; flex-wrap: wrap;">
		 <% experienced.forEach(function(rollerCoaster){ %>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
				<div class="card rollerCoasterList" >
					 <a href="<%= rollerCoaster.image %>">
						<img class="card-img-top" src="<%= rollerCoaster.image %>" alt="<%= rollerCoaster.name %>">
					</a>
					 <div class="card-body">
						<h5 class="card-title"><%= rollerCoaster.name %></h5>
						<a class="btn btn-primary" href="/rollercoasters/<%= rollerCoaster._id %>">More Info</a>			   
					 </div>
				</div>	
        	</div>
		<% }); %>
	</div>
</div>

<%- include("../partials/footer") %>


